* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
}

.nav-link {
  margin-right: 22px;
}
.nav-link:hover{
  color: #000 !important;
  font-weight: bold;
}

.table th,
td {
  font-size: 16px;
  padding: 5px 30px;
  border: 1px solid #333;
}

input {
  padding: 10px;
}

.button {
  width: 88px;
  height: 33px;
  margin-left: 50px;
}
